html,
body {
  height: 100%;
  margin: 0;
  font-family: system-ui, Segoe UI, Roboto, Helvetica, Arial;

  .container {
    max-width: 960px;
    margin: 24px auto;
    padding: 12px;

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;

      width: 50%; /******************/

      td {
        padding: 6px;
        border: 1px solid #eee;
        width: 25%;
        vertical-align: middle;
        text-align: center;
        background: #fafafa;
      }
      img {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 6px;
        transition: transform 0.3s ease;
      }

      caption {
        caption-side: top;
        text-align: left;
        font-weight: 600;
        margin-bottom: 8px;
      }

      .cards,
      .card,
      .card-inner,
      .card-front,
      .card-back {
        box-sizing: border-box;
      }

      td {
        padding: 6px;
        perspective: 800px; /* 3D-Tiefe */
      }

      .card {
        width: 100%;
        height: 200px;

        width: 100px; /******************/
        height: 100px; /******************/

        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.3s ease;

        .card-inner.flipped {
          transform: rotateY(180deg);
        }

        .card-inner {
          width: 100%;
          height: 100%;
          position: relative;
          transform-style: preserve-3d;
          transition: transform 0.6s;

          .card-front,
          .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 6px;
            overflow: hidden;
          }

          .card-front img,
          .card-back img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .card-back {
          transform: rotateY(180deg);
        }
      }
    }
  }
}
